---
layout: default
---
<div class="posts">
You have reached the Trail Head for my technology exploration trail. I am Anand Rao , Currently working as a Field Technologist 
for Tanzu at VMware. <br>My Journey on technology has brought me through multiple industries 
and places, giving me the previlege of meeting some amazing people. 
There is an ever growing list of new things to learn in technology and life in general.
<br>The Cluetrail is my effort on chronicaling the journey, the breadcrums of my journey with a hope that it helps solve problems and overcome challenges with a clue or two. 

<br>The Clue Trail is my writing while the Clue Cast is my video Blog.

Looking forward to build out more content here on my web home as I continue to build the Clue Trail.
</div>
<div>   
  <hr width=”75%” size=”10″>
  <h1 class="page-heading">Recent Blog posts</h1>
  <hr width=”100” size=”10″>
</div>
<div class="posts">
  {% for post in paginator.posts limit:3 %}
   {% if post.type != "podcast" %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
    {% endif %}
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
